ul {
  // parent of li
  display: flex;
  margin-top: 20px;

  li {
    display: inline-block;
    height: 40px;
    width: calc(100% / 3);
    border: 1px solid black;
    list-style: none;


    // parent of a
    display: flex;

    a{
      display: inline-block;
      color: white;
      text-decoration: none;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 40px;
      background-color: blue;
      &:hover{
        background-color: orange;
      }
      &.active{
        background-color: green;
      }
    }
  }
}
